<!DOCTYPE html>
<html lang="en">
  
<div class="container-fluid">
<div class="row">
  <div class="col-md-1"><%= link_to 'My Blog', controller: 'articles' %><br></div>
  <div class="col-md-1"><%= link_to 'Sign Up', controller: 'users' %> <br></div>
  <div class="col-md-1"><%= link_to 'Log in', 'log_in' %></div>
  
</div>
</div>
</html>


