 <div class="top-bar-container contain-to-grid show-for-medium-up">
<div class="row">
  <div class="small-12 large-12 columns" role="main">
            <nav class="top-bar" data-topbar="">
               
                <section class="top-bar-section">
                  <ul class="title-area">
                    <li class="name">
                        <a href="Home.html" style="color:white"><b>iSoft</b> </a>
                          <!--<img src="img/Isoft.jpg"></a>-->
                    </li>
                  </ul>

                  <ul id="menu-main-menu-1" class="top-bar-menu right">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="http://unpluggedweb.com/services/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://unpluggedweb.com/services/', 'Services']);" >About Us</a></li>
                    <li class="divider"></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="Sign%20In.html" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'Sign%20In.html', 'Approach']);" >Sign In</a></li>
                    <li class="divider"></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a href="Profiles2.html" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'Profiles2.html', 'Portfolio']);" >Profiles</a></li>
                    <li class="divider"></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="http://unpluggedweb.com/team/" onclick="_gaq.push(['_trackEvent', 'outbound-widget-int', 'http://unpluggedweb.com/team/', 'Team']);" >Contact Us</a></li>
                  </ul>
                </section>
          </nav>
      </div>
    </div>
  </div> 
  <br>


<h1>Hello, Rails!</h1>



<%= link_to 'My Blog', controller: 'articles' %>
