// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.html {
         background-image: image-url(/public/images/note1.jpg); no-repeat center center fixed;
        }
.body{

padding-top: 70px;
background-color: transparent;
}



  
