/*!
 * Template
 */
/*!
 * Marketing Pages Template
 *
 * Includes base styles for heroes
 */
body {
  visibility: hidden;
}
body.loaded {
  visibility: visible;
}
.page-header {
  border-bottom: none;
  margin-top: 0;
  padding-top: 50px;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #fafcfc;
}
.page-header.loaded {
  opacity: 1;
}
.page-header.inversed {
  background-color: #546673;
  color: white;
}
.page-header.inversed h1,
.page-header.inversed h2,
.page-header.inversed h3,
.page-header.inversed h4,
.page-header.inversed h5,
.page-header.inversed h6 {
  color: white;
}
.page-header #hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding-bottom: 15%;
  width: 100%;
  -webkit-transition: .2s opacity ease-in-out, .2s bottom ease-in-out;
  transition: .2s opacity ease-in-out, .2s bottom ease-in-out;
}
.page-header #hero-content .btn {
  margin-top: 20px;
  margin-right: 5px;
}
.page-header #hero-content .text-right .btn:last-child {
  margin-right: 0;
}
#video-hero #video-container {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}
#video-hero #video-container video {
  width: 110%;
  margin: 0;
}
#video-hero #video-container.visible {
  opacity: 1;
}
.marketing-block {
  border-bottom: 2px solid #e4e7ee;
  padding-top: 40px;
  padding-bottom: 70px;
}
.marketing-block .text-block {
  padding-top: 2em;
}
.marketing-block h3 {
  font-size: 2.4em;
  margin-bottom: 0.6em;
}
.marketing-block p {
  margin-bottom: 2em;
}
.marketing-block.marketing-block-gray {
  background: #fafcfc;
}
.marketing-block.marketing-block-white {
  background: white;
}
.marketing-block.marketing-block-borderless {
  border-bottom: none;
}
.marketing-block-inversed p,
.marketing-block-inversed li {
  font-weight: 400;
}
.marketing-block-inversed h1,
.marketing-block-inversed h2,
.marketing-block-inversed h3,
.marketing-block-inversed h4,
.marketing-block-inversed h5,
.marketing-block-inversed h6,
.marketing-block-inversed p,
.marketing-block-inversed li {
  color: white;
}
.marketing-block-inversed a {
  color: white;
  text-decoration: underline;
}
.marketing-block-inversed a:hover {
  color: #cce9ff;
}
.marketing-divider {
  padding-top: 45px;
  padding-bottom: 40px;
}
.marketing-panel {
  border: none;
  padding: 25px;
}
.marketing-panel h1,
.marketing-panel h2,
.marketing-panel h3,
.marketing-panel h4,
.marketing-panel h5,
.marketing-panel h6 {
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 1;
}
.marketing-divider-red,
.marketing-panel-red {
  background: rgba(255, 127, 72, 0.95);
}
.marketing-divider-red .btn-default,
.marketing-panel-red .btn-default {
  color: white;
  background: #ea6d36;
}
.marketing-divider-red .btn-default:hover,
.marketing-panel-red .btn-default:hover {
  color: white;
  background: #8f3e1c;
}
.marketing-divider-red .btn-transparent,
.marketing-panel-red .btn-transparent {
  color: white;
}
.marketing-divider-red .btn-transparent:hover,
.marketing-panel-red .btn-transparent:hover {
  color: white;
}
.marketing-divider-blue,
.marketing-panel-blue {
  background: rgba(84, 174, 255, 0.95);
}
.marketing-divider-blue .btn-default,
.marketing-panel-blue .btn-default {
  color: white;
  background: #2e87e7;
}
.marketing-divider-blue .btn-default:hover,
.marketing-panel-blue .btn-default:hover {
  color: white;
  background: #164b78;
}
.marketing-divider-violet,
.marketing-panel-violet {
  background: rgba(161, 119, 245, 0.95);
}
.marketing-divider-violet .btn-default,
.marketing-panel-violet .btn-default {
  color: white;
  background: #965eee;
}
.marketing-divider-violet .btn-default:hover,
.marketing-panel-violet .btn-default:hover {
  color: white;
  background: #4c3770;
}
.marketing-divider-violet .btn-transparent,
.marketing-panel-violet .btn-transparent {
  color: white;
}
.marketing-divider-violet .btn-transparent:hover,
.marketing-panel-violet .btn-transparent:hover {
  color: white;
}
.marketing-divider-green,
.marketing-panel-green {
  background: #8ecf6c;
}
.marketing-divider-green .btn-default,
.marketing-panel-green .btn-default {
  color: white;
  background: #7fbd5a;
}
.marketing-divider-green .btn-default:hover,
.marketing-panel-green .btn-default:hover {
  color: white;
  background: #456e32;
}
.marketing-divider-green .btn-transparent,
.marketing-panel-green .btn-transparent {
  color: white;
}
.marketing-divider-green .btn-transparent:hover,
.marketing-panel-green .btn-transparent:hover {
  color: white;
}
.marketing-divider-red,
.marketing-divider-blue,
.marketing-divider-violet,
.marketing-divider-green,
.marketing-panel-red,
.marketing-panel-blue,
.marketing-panel-violet,
.marketing-panel-green {
  color: white;
}
.marketing-divider-red h1,
.marketing-divider-blue h1,
.marketing-divider-violet h1,
.marketing-divider-green h1,
.marketing-panel-red h1,
.marketing-panel-blue h1,
.marketing-panel-violet h1,
.marketing-panel-green h1,
.marketing-divider-red h2,
.marketing-divider-blue h2,
.marketing-divider-violet h2,
.marketing-divider-green h2,
.marketing-panel-red h2,
.marketing-panel-blue h2,
.marketing-panel-violet h2,
.marketing-panel-green h2,
.marketing-divider-red h3,
.marketing-divider-blue h3,
.marketing-divider-violet h3,
.marketing-divider-green h3,
.marketing-panel-red h3,
.marketing-panel-blue h3,
.marketing-panel-violet h3,
.marketing-panel-green h3 {
  color: white;
  margin-top: 0;
}
.marketing-divider-red a,
.marketing-divider-blue a,
.marketing-divider-violet a,
.marketing-divider-green a,
.marketing-panel-red a,
.marketing-panel-blue a,
.marketing-panel-violet a,
.marketing-panel-green a {
  color: white;
  text-decoration: underline;
  font-weight: inherit;
}
.marketing-divider-red a:hover,
.marketing-divider-blue a:hover,
.marketing-divider-violet a:hover,
.marketing-divider-green a:hover,
.marketing-panel-red a:hover,
.marketing-panel-blue a:hover,
.marketing-panel-violet a:hover,
.marketing-panel-green a:hover {
  color: #54aeff;
}
.marketing-divider-red a.btn,
.marketing-divider-blue a.btn,
.marketing-divider-violet a.btn,
.marketing-divider-green a.btn,
.marketing-panel-red a.btn,
.marketing-panel-blue a.btn,
.marketing-panel-violet a.btn,
.marketing-panel-green a.btn {
  text-decoration: none;
}
/*
.marketing-header {
  padding-top: 30px;
  h3 {
    margin-bottom: 30px;
    color: @gray;
    font-family: "Gotham-Book", "Open Sans", sans-serif;
    font-weight: 500;
  }
  strong {
    font-family: "Gotham-Medium", "Open Sans", sans-serif;
    font-weight: 700;
  }
}
*/
body .navbar-nav li {
  -webkit-transition: 1s opacity ease-in-out;
  transition: 1s opacity ease-in-out;
}
body.demo-active .navbar-nav li:not(.navbar-brand-container) {
  opacity: 0;
}
#meet-disqus {
  padding-top: 100px;
  padding-bottom: 0;
  background: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/embed-demo/embed-background.jpg') no-repeat;
  background-size: 100%;
  background-position: 50% 0px;
  background-color: #fff5d1;
  position: relative;
  overflow: hidden;
}
#meet-disqus h1 {
  color: white;
}
#meet-disqus.loaded {
  -webkit-transition: .5s background-size ease-in-out, .5s background-image ease-in-out;
  transition: .5s background-size ease-in-out, .5s background-image ease-in-out;
}
#meet-disqus.loaded h1 {
  -webkit-transition: 0.75s all ease-in-out;
  transition: 0.75s all ease-in-out;
}
#embed-demo-wrapper {
  position: relative;
  height: 550px;
  z-index: 0;
}
#embed-demo-wrapper #embed {
  width: 564px;
  height: 667px;
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/embed-demo/embed-base.jpg');
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: 0 0 0 6px rgba(25, 75, 118, .08), 0 20px 100px 0 rgba(84, 102, 115, .2);
  box-shadow: 0 0 0 6px rgba(25, 75, 118, .08), 0 20px 100px 0 rgba(84, 102, 115, .2);
  border-radius: 2px;
}
#embed-demo-wrapper #embed.loaded {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
#embed-demo-wrapper.loaded {
  -webkit-transition: 0.3s height ease-in-out;
  transition: 0.3s height ease-in-out;
}
#embed-demo-wrapper:hover {
  height: 560px;
}
#embed-demo-wrapper.active {
  height: 700px;
}
.beacon {
  display: block;
  background: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.beacon:before {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  background: #a177f5;
  opacity: 1;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
.beacon figure {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 2px solid #a177f5;
  border-radius: 100%;
  left: 0;
  top: 0;
  text-indent: -500px;
  overflow: hidden;
  opacity: 0.6;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  -webkit-animation: radiate 2s ease-in-out infinite;
  -moz-animation: radiate 2s ease-in-out infinite;
  animation: radiate 2s ease-in-out infinite;
}
@-webkit-keyframes radiate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes radiate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes radiate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.beacon:hover {
  cursor: pointer;
}
.beacon:hover:before {
  background: #965eee;
}
.beacon:hover figure {
  border: 2px solid #965eee;
}
.beacon:active:before {
  background: #4c3770;
  top: 13px;
}
.beacon:active figure {
  top: 3px;
  border: 2px solid #4c3770;
}
.beacon.visited:before {
  opacity: .1;
  background: #e4e7ee;
  border: 2px solid #353a3d;
}
.beacon.visited:hover:before {
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #a177f5;
}
.beacon.visited figure {
  display: none;
}
.beacon.beacon-star {
  top: 8px;
  right: 8px;
}
.beacon.beacon-adaptable {
  top: 420px;
  left: 15px;
}
.beacon.beacon-realtime {
  top: 180px;
  right: 35px;
}
.beacon.beacon-voting {
  top: 265px;
  left: 65px;
}
.beacon.beacon-register {
  top: 78px;
  right: 180px;
}
.beacon.beacon-media {
  top: 372px;
  right: 8px;
}
.beacon.beacon-discovery {
  top: 410px;
  right: -50px;
}
.beacon.beacon-profiles {
  top: 172px;
  left: 7px;
}
.demo-active .beacon {
  opacity: 0;
}
.demo-active h1 {
  opacity: 0;
}
.demo-text {
  opacity: 0;
  z-index: 1;
  position: relative;
}
.demo-text.loaded {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.demo-text.visible {
  opacity: 1;
}
.demo-text h2 {
  position: relative;
  color: rgba(53, 58, 61, 0.8);
}
.demo-text p {
  color: #546673;
  font-size: 18px;
  margin-left: 2px;
}
.demo-text .close {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/embed-demo/icon-close.png');
  background-position: center;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-color: rgba(84, 102, 115, 0.3);
  opacity: .75;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: -12px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
.demo-text .close:hover {
  opacity: 1;
  background-color: rgba(84, 102, 115, 0.7);
}
.demo-text .close:active {
  top: -10px;
  background-color: rgba(84, 102, 115, 0.9);
}
#demo-star {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 125px;
}
#demo-star #video-embed-star {
  position: absolute;
  top: -0.5px;
  right: 0;
  width: 125px;
  height: 125px;
}
#demo-star-text {
  width: 25%;
  position: absolute;
  top: 122px;
  right: 15%;
  -webkit-transform: scale(0.5);
}
#meet-disqus.demo-star-active {
  background-size: 135%;
}
#meet-disqus.demo-star-active #embed {
  -webkit-transform: scale(2) translate(-230px, 180px);
  -moz-transform: scale(2) translate(-230px, 180px);
  transform: scale(2) translate(-230px, 180px);
}
#meet-disqus.demo-star-active #demo-star-text {
  right: 10%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
#demo-realtime {
  position: absolute;
  top: 190px;
  left: 28px;
  width: 508px;
  height: 480px;
  background: white;
}
#demo-realtime #video-embed-realtime {
  width: 504px;
  position: absolute;
  top: 2px;
  left: 2px;
}
#demo-realtime-text {
  width: 25%;
  position: absolute;
  top: 234px;
  right: 11%;
  -webkit-transform: scale(0.5);
}
#meet-disqus.demo-realtime-active {
  background-size: 110%;
}
#meet-disqus.demo-realtime-active #embed {
  -webkit-transform: scale(1.25) translate(-175px, 40px);
  -moz-transform: scale(1.25) translate(-175px, 40px);
  transform: scale(1.25) translate(-175px, 40px);
}
#meet-disqus.demo-realtime-active #demo-realtime-text {
  right: 6%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
#demo-voting {
  position: absolute;
  top: 276px;
  left: 74px;
  width: 201px;
  height: 160px;
}
#demo-voting #video-embed-voting {
  width: 201px;
  height: 160px;
}
#demo-voting-text {
  width: 25%;
  position: absolute;
  top: 294px;
  left: 11%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
#meet-disqus.demo-voting-active {
  background-size: 110%;
}
#meet-disqus.demo-voting-active #embed {
  -webkit-transform: scale(1.35) translate(175px, 0px);
  -moz-transform: scale(1.35) translate(175px, 0px);
  transform: scale(1.35) translate(175px, 0px);
}
#meet-disqus.demo-voting-active #demo-voting-text {
  top: 294px;
  left: 6%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
#demo-register {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 504px;
  height: 671px;
  background: white;
}
#demo-register #video-embed-register {
  width: 504px;
  height: 671px;
}
#demo-register-text {
  width: 25%;
  position: absolute;
  top: 82px;
  right: 11%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
#meet-disqus.demo-register-active {
  background-size: 110%;
}
#meet-disqus.demo-register-active #embed {
  -webkit-transform: scale(1.25) translate(-175px, 40px);
  -moz-transform: scale(1.25) translate(-175px, 40px);
  transform: scale(1.25) translate(-175px, 40px);
}
#meet-disqus.demo-register-active #demo-register-text {
  right: 6%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
#demo-adaptable-text {
  width: 25%;
  position: absolute;
  top: 100px;
  left: 11%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
#demo-adaptable-text p,
#demo-adaptable-text h2 {
  color: white;
}
#meet-disqus.demo-adaptable-active {
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/embed-demo/embed-background-dark.jpg');
  background-size: 110%;
}
#meet-disqus.demo-adaptable-active #embed {
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/embed-demo/embed-base-dark.jpg');
  -webkit-transform: scale(1.25) translate(175px, 0);
  -moz-transform: scale(1.25) translate(175px, 0);
  transform: scale(1.25) translate(175px, 0);
}
#meet-disqus.demo-adaptable-active #demo-adaptable-text {
  left: 6%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
#demo-media-text {
  width: 25%;
  position: absolute;
  top: 366px;
  right: 13%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
#meet-disqus.demo-media-active {
  background-size: 110%;
}
#meet-disqus.demo-media-active #embed {
  -webkit-transform: scale(1.15) translate(-175px, -55px);
  -moz-transform: scale(1.15) translate(-175px, -55px);
  transform: scale(1.15) translate(-175px, -55px);
}
#meet-disqus.demo-media-active #demo-media-text {
  right: 8%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
#demo-discovery {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 564px;
  height: 488px;
  background: white;
}
#demo-discovery #video-embed-discovery {
  width: 564px;
  height: 488px;
}
#demo-discovery-text {
  width: 50%;
  position: absolute;
  top: 250px;
  left: 25%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
#meet-disqus.demo-discovery-active {
  background-size: 110%;
}
#meet-disqus.demo-discovery-active #embed {
  -webkit-transform: scale(1.1) translate(0, -350px);
  -moz-transform: scale(1.1) translate(0, -350px);
  transform: scale(1.1) translate(0, -350px);
}
#meet-disqus.demo-discovery-active #demo-discovery-text {
  top: 400px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
#demo-profiles {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 504px;
  height: 620px;
  background: white;
}
#demo-profiles #video-embed-profiles {
  width: 504px;
  height: 620px;
}
#demo-profiles-text {
  width: 25%;
  position: absolute;
  top: 100px;
  left: 11%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
#meet-disqus.demo-profiles-active {
  background-size: 110%;
}
#meet-disqus.demo-profiles-active #embed {
  -webkit-transform: scale(1.25) translate(175px, -40px);
  -moz-transform: scale(1.25) translate(175px, -40px);
  transform: scale(1.25) translate(175px, -40px);
}
#meet-disqus.demo-profiles-active #demo-profiles-text {
  left: 6%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.marketing-block-grow h4 {
  font-size: 15px;
  margin: 0;
}
.marketing-block-grow .btn {
  width: 90%;
  margin-top: 22px;
}
.marketing-block-grow .signup-123 {
  margin-top: 30px;
}
.marketing-block-grow .signup-123:before {
  content: " ";
  display: block;
  float: left;
  margin-left: -1px;
  margin-top: -4px;
  margin-right: 10px;
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #b69eff;
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-123-add.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.marketing-block-grow .signup-123.signup-123-2:before {
  background-color: #54aeff;
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-123-sign-up.png');
}
.marketing-block-grow .signup-123.signup-123-3:before {
  background-color: #ff7f48;
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-123-build.png');
}
.marketing-block-niero,
.marketing-block-trish {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 1s background ease-in-out;
  transition: 1s background ease-in-out;
}
.marketing-block-niero:before,
.marketing-block-trish:before,
.marketing-block-niero:after,
.marketing-block-trish:after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: rgba(53, 58, 61, 0.05);
}
.marketing-block-niero:before,
.marketing-block-trish:before {
  top: 0;
}
.marketing-block-niero:after,
.marketing-block-trish:after {
  bottom: 0;
}
.marketing-block-niero .text-wrapper,
.marketing-block-trish .text-wrapper {
  position: absolute;
  width: 100%;
  top: 17%;
  left: 0;
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}
.marketing-block-niero .text-wrapper a,
.marketing-block-trish .text-wrapper a {
  color: white;
  text-decoration: underline;
}
.marketing-block-niero .text-wrapper a:hover,
.marketing-block-trish .text-wrapper a:hover {
  color: #cce9ff;
}
.marketing-block-niero.video-playing,
.marketing-block-trish.video-playing {
  background: #353a3d;
}
.marketing-block-niero.video-playing .text-wrapper,
.marketing-block-trish.video-playing .text-wrapper {
  opacity: 0;
}
.marketing-block-niero .controls-wrapper,
.marketing-block-trish .controls-wrapper {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  -webkit-transition: 0.5s opacity ease-in-out;
  transition: 0.5s opacity ease-in-out;
}
.marketing-block-niero .controls-wrapper .btn-play-pause,
.marketing-block-trish .controls-wrapper .btn-play-pause {
  display: block;
  background: rgba(53, 58, 61, 0.6);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  padding: 0 25px;
  text-indent: -100em;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  margin-left: 20px;
}
.marketing-block-niero .controls-wrapper .btn-play-pause:before,
.marketing-block-trish .controls-wrapper .btn-play-pause:before {
  display: none;
}
.marketing-block-niero .controls-wrapper .btn-play-pause:after,
.marketing-block-trish .controls-wrapper .btn-play-pause:after {
  content: " ";
  display: block;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-left-color: #fafcfc;
  position: absolute;
  top: 10px;
  left: 21px;
}
.marketing-block-niero .controls-wrapper .btn-play-pause:hover,
.marketing-block-trish .controls-wrapper .btn-play-pause:hover {
  background: rgba(84, 102, 115, 0.9);
}
.marketing-block-niero.video-playing .controls-wrapper,
.marketing-block-trish.video-playing .controls-wrapper {
  opacity: 0;
}
.marketing-block-niero.video-playing .controls-wrapper .btn-play-pause:before,
.marketing-block-trish.video-playing .controls-wrapper .btn-play-pause:before {
  content: " ";
  display: block;
  position: absolute;
  top: 12px;
  left: 18px;
  width: 4px;
  height: 16px;
  border: none;
  background: white;
}
.marketing-block-niero.video-playing .controls-wrapper .btn-play-pause:after,
.marketing-block-trish.video-playing .controls-wrapper .btn-play-pause:after {
  content: " ";
  display: block;
  position: absolute;
  top: 12px;
  left: 28px;
  width: 4px;
  height: 16px;
  border: none;
  background: white;
}
.marketing-block-niero.video-playing .controls-wrapper .btn-play-pause:hover,
.marketing-block-trish.video-playing .controls-wrapper .btn-play-pause:hover {
  background: rgba(84, 102, 115, 0.9);
}
.marketing-block-niero.video-playing:hover .controls-wrapper,
.marketing-block-trish.video-playing:hover .controls-wrapper {
  opacity: 1;
}
.marketing-block-niero {
  background-color: #7f919e;
}
.marketing-block-niero #publishers-testimonial-niero {
  width: 100%;
  margin: 0 0 -5px 0;
  -webkit-box-shadow: 0 1px 10px 0 rgba(53, 58, 61, 0.15);
  box-shadow: 0 1px 10px 0 rgba(53, 58, 61, 0.15);
}
.marketing-block-niero .panel {
  color: white;
  background: rgba(127, 189, 90, 0.9);
  border: none;
  padding: 40px 20px;
}
.marketing-block-niero .panel h2 {
  color: white;
  margin-top: 0;
}
.marketing-block-niero .panel .btn-default {
  color: white;
  background: #66a341;
}
.marketing-block-niero .panel .btn-default:hover {
  background: #456e32;
}
.marketing-block-trish {
  background: #e4e7ee;
}
.marketing-block-trish #publishers-testimonial-trish {
  width: 100%;
  margin: 0 0 -5px 0;
  -webkit-box-shadow: 0 1px 10px 0 rgba(53, 58, 61, 0.15);
  box-shadow: 0 1px 10px 0 rgba(53, 58, 61, 0.15);
}
.marketing-block-trish .panel {
  color: white;
  background: rgba(255, 127, 72, 0.9);
  border: none;
  padding: 40px 20px;
}
.marketing-block-trish .panel h2 {
  color: white;
  margin-top: 0;
}
.marketing-block-trish .panel .btn-default {
  color: white;
  background: #ea6d36;
}
.marketing-block-trish .panel .btn-default:hover {
  background: #8f3e1c;
}
.marketing-block-benefits {
  position: relative;
  background: #fafcfc;
  padding-bottom: 10px;
}
.marketing-block-benefits:before,
.marketing-block-benefits:after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: rgba(53, 58, 61, 0.07);
}
.marketing-block-benefits:before {
  top: 0;
}
.marketing-block-benefits:after {
  bottom: 0;
}
.marketing-block-benefits p.lead {
  margin-bottom: 3em;
}
#benefits-tiles {
  display: block;
  margin: 0;
  padding: 0;
}
#benefits-tiles li {
  display: block;
  float: left;
  width: 20%;
  padding: 10px;
  margin: 20px 0 0;
  text-align: center;
  vertical-align: top;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}
#benefits-tiles li:first-child {
  padding-left: 0;
}
#benefits-tiles li:last-child {
  padding-right: 0;
  float: right;
}
#benefits-tiles li div {
  width: 100%;
  height: 185px;
  overflow: hidden;
  border: 1px solid #e4e7ee;
  -webkit-box-shadow: 0 1px 1px 0 rgba(228, 231, 238, 0.5);
  box-shadow: 0 1px 1px 0 rgba(228, 231, 238, 0.5);
  background: white;
  padding: 20px;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}
#benefits-tiles li .tile-description {
  display: block;
  opacity: 0;
  padding: 10px;
}
#benefits-tiles li h5 {
  font-size: 14px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
#benefits-tiles li h5:before {
  content: " ";
  display: block;
  text-align: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  opacity: .8;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
#benefits-tiles li.tile-audience h5:before {
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-benefits-audience.png');
  background-size: 60%;
}
#benefits-tiles li.tile-revenue h5:before {
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-benefits-revenue.png');
}
#benefits-tiles li.tile-traffic h5:before {
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-benefits-traffic.png');
}
#benefits-tiles li.tile-retain h5:before {
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-benefits-retain.png');
}
#benefits-tiles li.tile-mobile h5:before {
  background-image: url('https://a.disquscdn.com/dotcom/d-221b350/img/websites/icon-benefits-mobile.png');
  background-size: 35%;
}
#benefits-tiles li.inactive {
  width: 17%;
}
#benefits-tiles li.active {
  width: 32%;
  margin-top: 0;
}
#benefits-tiles li.active h5:before {
  margin-bottom: 10px;
  opacity: 1;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
#benefits-tiles li.active div {
  height: 330px;
}
#benefits-tiles li.active .tile-description {
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  opacity: 1;
}
#benefits-tiles li.active h5 {
  color: #353a3d;
}
.marketing-block-features {
  padding-bottom: 0;
}
.marketing-block-features .lead {
  margin-bottom: .6em;
}
.slider-controls-container {
  -webkit-box-shadow: inset 0 0 1px 0 #c2c9d4;
  box-shadow: inset 0 0 1px 0 #c2c9d4;
}
#slider-controls {
  border-bottom: none;
}
#slider-controls a {
  color: #7f919e;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 500;
  font-style: normal;
  background: transparent;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin: 0;
}
#slider-controls a:before {
  position: absolute;
  bottom: -15px;
  left: 50%;
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  background: transparent;
  border-top: 15px solid white;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  margin-left: -10px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}
#slider-controls a:hover {
  color: #2e9fff;
  background: transparent;
}
#slider-controls .active a {
  background: white;
  color: #353a3d;
  cursor: default;
  -webkit-box-shadow: 0 0 0 1px rgba(53, 58, 61, 0.1);
  box-shadow: 0 0 0 1px rgba(53, 58, 61, 0.1);
}
#slider-controls .active a:before {
  border-top: 15px solid white;
  bottom: -15px;
  opacity: 1;
}
#features-slider-wrapper {
  background: #54aeff;
  color: white;
  overflow: hidden;
}
#features-slider-wrapper .container {
  height: 400px;
  position: relative;
}
.slide {
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-transform: perspective(400px) rotateX(0deg) translateY(0px) translateZ(0px);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.slide.hidden-slide {
  opacity: 0;
  -webkit-transform: perspective(400px) rotateX(5deg) translateY(100px) translateZ(-80px);
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.slide h3 {
  color: white;
  margin-top: 60px;
}
.slide h4 {
  color: white;
  margin-top: 30px;
}
.slide ul {
  padding: 20px 0 0 20px;
}
.slide ul li {
  margin-bottom: 10px;
  list-style-type: circle;
}
#img-just-works {
  margin-top: 40px;
  max-width: 475px;
  float: right;
  margin-right: -16px;
}
#real-time #img-real-time {
  width: 360px;
  float: right;
  margin-top: 85px;
}
#video-adaptable-design {
  margin-top: 85px;
  width: 355px;
  float: right;
}
#media-embedding #img-media-embedding {
  width: 360px;
  float: right;
  margin-top: 85px;
}
#video-moderation {
  margin-top: 85px;
  width: 355px;
  float: right;
}
p.faq {
  padding: 20px 0;
}
.marketing-block-community .panel {
  border: 1px solid #e4e7ee;
  -webkit-box-shadow: 0 1px 2px 0 #fafcfc;
  box-shadow: 0 1px 2px 0 #fafcfc;
  background: white;
  font-weight: 500;
  color: #546673;
}
.marketing-block-community .panel h3 {
  color: #7f919e;
  margin-top: 5px;
}
.marketing-block-press {
  background: #54aeff;
}
.marketing-block-press aside {
  width: 33.1%;
  min-height: 280px;
  float: left;
  background: #239dff;
  margin: 0 4px 4px 0;
  position: relative;
}
.marketing-block-press aside:last-child {
  margin-right: -4px;
}
.marketing-block-press aside p {
  padding: 20px;
  font-size: .95em;
  color: #cce9ff;
  line-height: 2em;
}
.marketing-block-press aside p i {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 25px;
  margin-left: -10px;
  color: #1e66a3;
  font-size: 6em;
  font-family: Georgia, serif;
}
.marketing-block-press aside p span {
  color: white;
  font-weight: 500;
  font-size: 1.8em;
  margin-left: 3px;
  margin-right: 3px;
}
.marketing-block-press aside p em {
  display: none;
  margin-top: 5px;
  font-size: 1.6em;
  font-weight: 600;
  color: #164b78;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #1a588e;
}
.marketing-block-press aside p img {
  position: absolute;
  bottom: 5px;
  right: 20px;
}
.marketing-block-press .contact {
  margin-top: 20px;
  color: #164b78;
  font-weight: 600;
}
.marketing-block-press .contact a {
  color: #164b78;
}
.marketing-block-press .contact a:hover {
  color: #cce9ff;
}
